
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
margin:0;
padding:0;
}

html,body {
height:100%;
min-width:960px;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

html {
overflow-y:scroll;
}

em {
font-style:italic;
}


* {
	font-size: 100.01%;
}

body {
	font: 62.5% sans-serif;
	margin: 0 auto;
	background: gray;
}

#container {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding-bottom:30px;
}

.main {
	padding: 0px 20px 20px 20px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.header ul  a:visited {
	color:white;
}

.header {
	height: 40px;
	background: rgb(0, 160, 209);
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 0 none;
}

.header li {
	float: left;
	margin-right: 20px;
}

.header ul {
	position: absolute;
	list-style-type: none;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	padding-left:20px;
	width: 38%;
	text-align:center;
	font-size:small;
	font-weight:700;
  border-radius:4px;
  color:white;
}